.top-nav {
  display: flex;
  height: 90px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #eee;

  .logo {
    display: flex;
    margin-left: 5%;
    img {

      display: inline;
      height: 45px;
      width: 60px;
      vertical-align: middle;
      padding: 22.5px 5px 5px 5px;
    }
    h3 {
      display: inline;
      font-family: $serif;
      align-self: center;
      font-size: 21px;
      color: $EvernoteGreen;
    }
  }

  .login-signup {
    display: flex;
    margin-right: 5%;
    a {
      display: inline;
      font-family: $sans-serif;
      align-self: center;
      font-size: 15px;
      color: $EvernoteDarkGray;
    }
    button {
      padding: 10px;
      display: inline;
      font-family: $sans-serif;
      align-self: center;
      font-size: 15px;
      color: $EvernoteDarkGray;
      margin: 10px;
      border: 2px solid $EvernoteMediumLightGray;
      border-radius: 5px;
    }
    button:hover {
      color: #fff;
      background-color: $EvernoteGreen;
      border-color: $EvernoteGreen;
    }
  }

}

#login{

}
