.top-nav {

  height: 90px;
  width: 100%;
  border-bottom: 1px solid #eee;
  position: fixed;
  background-color: #fff;

  .nav-elements{
    margin: auto;
    align-self: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1120px;

  }

  .logo {
    margin-left: 40px;
    display: flex;
    img {

      display: inline;
      height: 45px;
      width: 60px;
      vertical-align: middle;
      padding: 22.5px 5px 5px 0px;
    }
    h3 {
      vertical-align: middle;
      display: inline;
      font-family: $serif;
      align-self: center;
      font-size: 21px;
      color: $EvernoteGreen;
    }
  }

  .login-signup {
    display: flex;
    margin-right: 40px;
    a {
      display: inline;
      font-family: $sans-serif;
      align-self: center;
      font-size: 15px;
      color: $EvernoteDarkGray;
    }
    button {
      padding: 10px 15px;
      display: inline;
      font-family: $sans-serif;
      align-self: center;
      font-size: 15px;
      color: $EvernoteDarkGray;
      margin: 10px;
      border: 2px solid $EvernoteMediumLightGray;
      border-radius: 5px;
      // transition: background-color 0.5s ease;
      // transition: color 0.5s ease;
      // transition: border-color 0.5s ease;
    }
    button:hover {
      color: #fff;
      background-color: $EvernoteGreen;
      border-color: $EvernoteGreen;
    }
  }

}

#login{

}
