.side-nav {
  bottom: 0;
  flex: none;
  background-color: $EvernoteSuperLightGray;
  width: 70px;
  border-right: 1px solid $EvernoteMediumLightGray;
  z-index: 8;


  .notebooks-button {
    height: 60px;
    width: 60px;
    display: flex;


    img {
      margin-left: 5px;

    }
  }

  .logout-button {
    position: fixed;
    bottom: 0px;
    height: 65px;
    width: inherit;
    // padding: px 0px;
    font-family: $sans-serif;
    align-self: center;
    font-size: 15px;
    color: $EvernoteDarkGray;
    border-top: 2px solid $EvernoteMediumLightGray;
    text-align: center;
    margin: auto;

  }

  .logout-button:hover{
    color: #fff;
    background-color: $EvernoteGreen;
    border-color: $EvernoteGreen;
  }

  .note-index-button {
    height: 35px;
    width: 35px;
    background-color: #fff;
    border: 1px solid $EvernoteMediumGray;
    background: image-url('green_note.png');
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    border-radius: 50%;
  }

  .note-index-button:hover {
    cursor: pointer;
  }
}
