$EvernoteGreen: #57BF60;
$EvernoteHoverGreen: #48A041;
$EvernoteDarkGray: #7F7F82;
$EvernoteMediumGray: #D9D9D9;
$EvernoteMediumLightGray: #ECECEC;
$EvernoteSuperLightGray: #F8F8F8;

$serif: 'Roboto Slab', serif;
$sans-serif: 'Raleway', sans-serif;
